@use "colors" as *;
@use "settings" as *;
@use "sass:map";
@use "sass:list";

@mixin apply-colors($bg, $fg, $contrast) {
  @each $key, $value in map.get($bg, $contrast) {
    --#{$key}: #{$value};
  }
  @each $key, $value in $fg {
    --#{$key}: #{$value};
  }
}

@mixin btn-3d {
  box-shadow:
    inset 0px 0px 0px 1px rgb(0 0 0 / 5%),
    inset 0px -3px 0px 0px rgb(0 0 0 / 15%) !important;

  .dark & {
    box-shadow:
      inset 0px 0px 0px 1px rgb(0 0 0 / 5%),
      inset 0px -3px 0px 0px rgb(0 0 0 / 25%) !important;
  }
}

/* -------------------------------------------- */
/* ---------------- Root styles --------------- */
/* -------------------------------------------- */

html.dark {
  /* Everforest colors */
  @include apply-colors($dark-bg, $dark-fg, map.get($settings, contrast-dark));

  /* Mochi variables */
  --mochi--card--background: var(--bg1);
  --mochi--card-box--background: var(--bg1);
  --mochi--button--background: var(--bg1);
  --mochi--side-bar--background: var(--bg-dim);
  --mochi--card--background-hover: var(--bg-blue);

  --mochi--box-select--background: var(--bg0);
  --mochi--box-select--background-hover: var(--bg-blue);

  --mochi--side-bar-icon--color: var(--blue);
  --mochi--review-history--row-background-dark: var(--bg-dim);
}

html:not(.dark) {
  /* Everforest colors */
  @include apply-colors(
    $light-bg,
    $light-fg,
    map.get($settings, contrast-light)
  );

  /* Mochi variables */
  --mochi--card--background: var(--bg0);
  --mochi--card-box--background: var(--bg0);
  --mochi--button--background: var(--bg0);
  --mochi--side-bar--background: var(--bg3);
  --mochi--card--background-hover: var(--bg-green);

  --mochi--box-select--background: var(--bg2);
  --mochi--box-select--background-hover: var(--bg-blue);

  --mochi--side-bar-icon--color: var(--grey2);
  --mochi--review-history--row-background-dark: var(--bg3);
}

html body {
  --fonts-monospace: #{map.get($settings, font-monospace)};

  --mochi--review-button--background: var(--mochi--side-bar--background);
  --mochi--card--color: var(--fg);
  --mochi--button-hover--background: var(--bg-blue);

  --mochi--md-code--background: var(--bg2);
  --mochi--cloze-2--background-color: var(--mochi--side-bar--background);
  --mochi----background-color: var(--bg0);

  --mochi--jump-to--selection-bg: var(--bg2);
  --mochi--show-more--background: var(--mochi--side-bar--background);
  --mochi--show-more--background-hover: var(--bg5);

  --mochi--progressbar--foreground: var(--bg5);

  --mochi--inverted-button--background: var(--grey2);
  --mochi--inverted-button--count-background: var(--grey1);

  --mochi--progressbar--foreground-red: var(--statusline3);
  --mochi--re-review--icon: var(--red);
}

/* -------------------------------------------- */
/* ------------- memo_views edits ------------- */
/* -------------------------------------------- */

/* Main content background */
.memo_views_frame_frame-container {
  background-color: var(--bg1);
  background-size: 50px 50px;

  /* Background pattern - dots */
  background-image: radial-gradient(
    circle,
    hsla(37, 38%, 83%, 1) 1px,
    rgba(0, 0, 0, 0) 1px
  );

  .dark & {
    background-color: var(--bg0);
    background-image: radial-gradient(
      circle,
      hsla(31, 27%, 25%, 1) 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }
}

/* Fix dashbaord overview background incorrectly set to sidebar color. */
.memo_views_pages_layout_frame-content > div:nth-child(3) {
  background-color: initial !important;
}

/* Show More gradient */
.memo_views_atoms_card_tile-fade {
  background: linear-gradient(0deg, var(--bg0), var(--bg0) 33px, transparent);

  .dark & {
    background: linear-gradient(0deg, var(--bg1), var(--bg1) 33px, transparent);
  }

  .memo_views_card_list-view_card-container:hover & {
    background: linear-gradient(0deg, var(--bg-green), var(--bg-green) 33px, transparent);

    .dark & {
      background: linear-gradient(
        0deg,
        var(--bg-blue),
        var(--bg-blue) 33px,
        transparent
      );
    }
  }
}

/* Editor background */
.memo_views_modal_card_editor-background {
  background-color: var(--bg0);
  font-size: 0.95em !important;
}

/* Cards font color */
.memo_views_modal_modal-dialog {
  color: var(--fg);
}

/* Fix filter menu colors in dark mode */
.dark .memo_views_atoms_menu_menu {
  color: rgba(255, 255, 255, 0.7);
}

/* Cloze backgrounds */
.memo_views_diagrams_diagram-cloze {
  background-color: var(--grey1);
}

/* Make foot note jumps smooth */
.memo_views_modal_modal-container {
  scroll-behavior: smooth;
}

/* 3D button effect */
.memo_views_atoms_button_default-button,
.memo_views_atoms_button_inverted-button {
  @include btn-3d;
}

/* -------------------------------------------- */
/* ----------- memo_markdown edits ------------ */
/* -------------------------------------------- */

/* Cards font family */
.memo_markdown_styles_markdown-class {
  // font-family: Avenir !important;
}

/* Tags - inline and in card status */
.memo_markdown_components_tag-link {
  font-family: var(--fonts-monospace);
  padding: 5px;
}

/* Inline code style */
.memo_markdown_styles_markdown-class code:not(pre code):not(kbd code) {
  color: var(--blue) !important;
  border: 1px solid;
  white-space: nowrap; /* prevent work break for inline code */
  margin-right: 0.1em; /* prevent trailing punctuations touching the border */
}

/* Highlighted text with == */
.memo_markdown_styles_markdown-class mark {
  border-radius: 0;
  color: var(--bg0);
  background-color: var(--aqua);
  background-image: none;
  padding: 0.2em;
  margin: initial;
  vertical-align: middle;
}

.memo_markdown_components_inline-link {
  /* Make sure links wrap around */
  white-space: normal;

  /* Custome styles */
  background: var(--bg2);
  border: 1px solid var(--bg4);
}

/* Increase monospace font */
/* Only for UbutntuMono Nerd Mono font because it's inherently smaller */
.memo_markdown_styles_markdown-class code,
.memo_markdown_styles_markdown-class pre {
  font-size: 0.95em !important;
}

/* Used for footnote legends */
.memo_markdown_components_blue-link {
  font-family: "Cascadia code";
  opacity: 0.9;

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    font-size: initial;
  }
}

/* -------------------------------------------- */
/* ----------- Raw HTML tags edits ------------ */
/* -------------------------------------------- */

strong {
  color: var(--statusline3);
}

em {
  color: var(--aqua);
}

strong em {
  color: var(--purple);
}

/* ----------------- Headings ----------------- */

/* General */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: map.get($settings, font-heading);
  font-weight: 500 !important;
  text-wrap: pretty; /* Not yet supported in the Electron version Mochi is using */
}

/* Font size */
h2 {
  font-size: 1.8em !important;
}

h3 {
  font-size: 1.5em !important;
}

h4 {
  font-size: 1.3em !important;
}

h5 {
  font-size: 1em !important;
}

h6 {
  font-size: 1em !important;
}

@if map.get($settings, rainbow-headings) {
  /* Rainbow headings */
  $rainbow-colors: map.get($settings, rainbow-colors);
  @for $i from 1 through list.length($rainbow-colors) {
    h#{$i} {
      color: var(--#{list.nth($rainbow-colors, $i)});
    }
  }
}

/* -------- Custom keyboard input style ------- */

kbd {
  font-family: var(--fonts-monospace);
  color: var(--statusline3) !important;
  background: var(--bg1);
  border-radius: 4px;
  padding: 0.2em 0.45em;
  margin-right: 0.1em;

  .dark & {
    background: var(--bg0);
  }

  @include btn-3d;
}

/* ------------------ Tables ------------------ */

table {
  border-radius: 5px;
  overflow: hidden;
}

thead tr {
  background-color: var(--bg-green);
}

tbody tr:nth-child(odd) {
  background-color: var(--bg2);
}

/* ------------ Custom list styles ------------ */

@if map.get($settings, custom-ol-bullet) {
  ol > li,
  ul > li {
    position: relative;
  }

  ol > li {
    list-style-type: none;
  }

  /* Custom numbered bullets */
  ol > li::before {
    --bullet-size: calc(1.5 * 1rem);
    content: counter(list-item);
    position: absolute;
    top: 0.4em;
    inset-inline-start: calc(-1.25 * var(--bullet-size));
    width: var(--bullet-size);
    height: var(--bullet-size);
    line-height: var(--bullet-size);
    font-size: 0.8125rem;
    font-weight: 600;
    text-align: center;
    color: var(--fg);
    background-color: var(--bg2);
    border-radius: 99rem;
    box-shadow: inset 0 0 0 1px var(--bg4);
    font-family: Cascadia Code;
  }

  /* Indent lines */
  ol > li::after,
  ul > li::after {
    content: "";
    position: absolute;
    top: 35px;
    bottom: 5px;
    inset-inline-start: -18px;
    width: 1px;
    background-color: var(--bg4);
  }

  ul > li::after {
    inset-inline-start: -15px;
  }
}
