$settings: (
  dark-contrast: "medium",
  light-contrast: "hard",
  rainbow-headings: true,
  heading-colors: (fg, red, aqua, blue, orange, yellow),
  font-monospace: "UbuntuMono Nerd Font Mono",
  font-heading: "Avenir Next Condensed",
);
