@use "colors" as *;
@use "sass:map";

$dark-contrast: "medium";
$light-contrast: "hard";

@mixin apply-colors($bg, $fg, $contrast) {
  @each $key, $value in map.get($bg, $contrast) {
    --#{$key}: #{$value};
  }

  @each $key, $value in $fg {
    --#{$key}: #{$value};
  }

}

html.dark {
  @include apply-colors($dark-bg, $dark-fg, $dark-contrast);
}

html:not(.dark) {
  @include apply-colors($light-bg, $light-fg, $light-contrast);
}
